.container {
  background-color: aliceblue;
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  /* background-color: white; */
  text-align: center;
  display: inline-block;
}

body {
  background-color: #4ECCA3;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 23px;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lobster', cursive;

}

